@charset "UTF-8";

/* Tropical device Breakpoints 
    --------------------------

    Pequenas: até 600px
    Celular: de 600px até 768px
    Tablet: de 768px até 992px
    Desktop: de 992px até 1200px
    Grandes: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    section#login {
        width: 80vw;

    }

    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
        background-position: center bottom ;
        
        
    }
    section#login > div#Formulario{
        float: right;
        width: 70%;
    }
}


@media screen and (min-width: 992px) {

    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login{
        width: 950px;
        
    }

    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
        background-position: center;
    }
    
    section#login > div#Formulario{
        float: left;
        width: 50%;
    }


div#Formulario > h1{
  font-size: 2em;
}

div#Formulario > p{
    font-size: 1.2em;
}
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: green;
    border: 1px solid #49a09d;
    border-radius: 7px;
    text-decoration: none;
}

form > a.botao:hover{
    background-color: #49a09d;
}